@media print {
    
}

body{
    font-family: 'Roboto';
    background: rgb(119, 119, 119);
}

p {
   color: black;
   font-size: 25px;
   margin: 0;
}
img {
    width:190px;
    margin-top: auto;
    margin-bottom: auto;
}

.page {
    padding: 25px;
    width: 700px;
    height: 1000px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.infrassur-logo{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
h1{
    font-family: 'Roboto';
}

.cdx {
    margin-bottom: 40px;
}

.maitre-de-stage {
    font-size: 25px;
    margin-bottom: 40px;
}
.intro {
margin-bottom: 25px;
}

.titre-intro {
    margin-left:225px;
    color: red;
    text-decoration: underline;
    margin-bottom: 25px;
}

.liste-présentation {
    color: black;
    font-size: 25px;
    margin-left: 50px;

}

.son-identité {
color: rgb(62, 37, 201);
font-size: 35px;
margin-bottom: 100px;
}

.son-identité-deux {
    font-size: 25px;
    margin-bottom: 100px; 
 }


 .next-back {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
 }

 .titre-intro-deux {
     color: red;
     text-decoration: underline;
     margin-left:150px;
    }

    .titre-intro-trois {
        color: red;
        text-decoration: underline;
        margin-left:115px;
    }

    .first-day {
        font-size: 23px;
        margin-bottom: 25px;
    }

    .second-day {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .first-dy{
        font-size: 30px;
        margin-bottom: 25px;
    }